<body>
  <header class="webpage-header">
    <h1 class="header_title">📸</h1>
    <article>
      <p class="subtitle">Put in your vote for the best Unsplash photos in their category. You'll be matched with another user to battle fairly!</p>
    </article>

    <p class="statusField"></p>
    <ul class="errorMessages"></ul>
  </header>