<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main class="main">
  <header>
    <form class="defineUsername">
      <label>Username:
        <input class="username-input" name="username" type="text" placeholder="Enter your username" autocomplete="off"
          autofocus />
      </label>

      <label>Category:
        <input type="search" id="category" name="category" aria-label="Pick a category" placeholder="e.g. tree">
      </label>
      <button class="searchIcon">Start</button>
    </form>
    <article class="userdata-set hidden">
    </article>
  </header>

  <!-- <section>
    <h2>Aanwezige users</h2>
    <ul class="current_users"></ul>
  </section> -->
  <section>
    <h2>Errors</h2>
    <ul class="errorlogs"></ul>
  </section>
</main>
<footer class="footer">
</footer>

<%- include('./partials/foot.ejs') %>