<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main class="main inspiratie">
  <div>
    <ul class="consoleLogs"></ul>
  </div>
  <div>
    <p class="statusField"></p>
  </div>
  <header class="unsplash">
    <form class="userDataForm">
      <label>Username
        <input class="username-input" name="username" type="text" placeholder="Enter your username" autocomplete="off"
          autofocus required />
      </label>
      <label>Category
        <input class="category" type="search" id="category" name="category" aria-label="Pick a category"
          placeholder="e.g. tree" required>
      </label>
      <button class="searchIcon">Start</button>
    </form>
    <article class="userdata-set none">
    </article>
    <article class="currentUsers none">
      <h3>current users in this game:</h3>
      <p class="user1"></p>
      <p class="user2"></p>
    </article>
  </header>
  <section class="unsplashGallery">
    <h2>most popular photographs</h2>
    <div class="masonry-with-columns">
    </div>
  </section>
  <section class="photograph-chooser">
    <h2>photographs</h2>
    <form class="photographQuiz">
      <fieldset id="question-1">
        <legend>Choose the best photo</legend>
        <div class="q1-photos photographs-wrapper">   
        </div>
      </fieldset>
      <fieldset id="question-2">
        <legend>Choose the best photo</legend>
        <div class="q2-photos photographs-wrapper">   
        </div>
      </fieldset>
      <fieldset id="question-3">
        <legend>Choose the best photo</legend>
        <div class="q3-photos photographs-wrapper">   
        </div>
      </fieldset>
      <fieldset id="question-4">
        <legend>Choose the best photo</legend>
        <div class="q4-photos photographs-wrapper">   
        </div>
      </fieldset>
      <div class="buttonwrapper">
        <button class="previousButton none" type="button">Previous</button>
        <button class="nextButton" type="button">Next</button>
        <button class="submit none" type="submit">Submit</button>
      </div>
    </form>
  </section>
</main>
<footer class="footer">
</footer>
<%- include('./partials/foot.ejs') %>