<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main class="main inspiratie">
  <div>
    <ul class="consoleLogs"></ul>
  </div>
  <header class="unsplash">
    <form class="userDataForm">
      <label>Username
        <input class="username-input" name="username" type="text" placeholder="Enter your username" autocomplete="off"
          autofocus required />
      </label>
      <label>Category
        <input class="category" type="search" id="category" name="category" aria-label="Pick a category"
          placeholder="e.g. tree" required>
      </label>
      <button class="searchIcon">Start</button>
    </form>
    <article class="userdata-set none">
    </article>
  </header>
  <section class="unsplashGallery">
    <h2>most popular photographs</h2>
    <div class="masonry-with-columns">
    </div>
  </section>
  <section class="photograph-chooser">
    <h2>photographs</h2>
    <form class="photographQuiz">
      <fieldset id="question-1">
        <legend>Choose the best photo</legend>
        <div class="photographs-wrapper">
          <div class="photo-1-wrapper photowrapper">
            <label for="photo1"><span>Photo 1</span>
            <input type="radio" name="photo" id="photo1">
            <img src="https://images.unsplash.com/photo-1607040480256-f379dec18774?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80.jpg"
            </label>
          </div>
          <div class="photo-2-wrapper photowrapper">
            <label for="photo2"><span>Photo 2</span>
            <input type="radio" name="photo" id="photo2">
            <img src="https://images.unsplash.com/photo-1607040480256-f379dec18774?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80.jpg"
            </label>
          </div>
          <div class="photo-3-wrapper photowrapper">
            <label for="photo3"><span>Photo 3</span>
            <input type="radio" name="photo" id="photo3">
            <img src="https://images.unsplash.com/photo-1607040480256-f379dec18774?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80.jpg"
            </label>
          </div>
          <div class="photo-4-wrapper photowrapper">
            <label for="photo4"><span>Photo 4</span>
            <input type="radio" name="photo" id="photo4">
            <img src="https://images.unsplash.com/photo-1607040480256-f379dec18774?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80.jpg"
            </label>
          </div>
        </div>
      </fieldset>
      <div class="buttonwrapper">
        <button class="previous" type="button">Previous</button>
        <button class="next" type="button">Next</button>
        <button class="submit none" type="submit">Submit</button>
      </div>
    </form>
  </section>
</main>
<footer class="footer">
</footer>
<%- include('./partials/foot.ejs') %>