<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main class="main inspiratie">
  <header class="unsplash">
    <form class="userdataForm">
      <label>Username
        <input class="username-input" name="username" type="text" placeholder="Enter your username" autocomplete="off"
          autofocus required />
      </label>
      <label>Category
        <input class="category" type="search" id="category" name="category" aria-label="Pick a category"
          placeholder="e.g. tree" required>
      </label>
      <button class="searchIcon">Start</button>
    </form>
    <article class="userdataSet none">
    </article>
    <article class="currentUsers none">
      <h3>current users in this game:</h3>
      <p class="user1"></p>
      <p class="user2"></p>
    </article>
  </header>

  <section class="unsplashGallery">
    <h2>most popular photographs</h2>
    <div class="masonry-with-columns">
    </div>
  </section>

  <section class="photographForm none">
    <h2>Choose the best photo</h2>
    <form class="photographQuiz">
      <fieldset id="question-1">
        <legend>Photo 1</legend>
        <div class="q1-photos photographs-wrapper">
        </div>
      </fieldset>
      <fieldset id="question-2">
        <legend>Photo 2</legend>
        <div class="q2-photos photographs-wrapper">
        </div>
      </fieldset>
      <fieldset id="question-3">
        <legend>Photo 3</legend>
        <div class="q3-photos photographs-wrapper">
        </div>
      </fieldset>
      <fieldset id="question-4">
        <legend>Photo 4</legend>
        <div class="q4-photos photographs-wrapper">
        </div>
      </fieldset>
      <div class="buttonwrapper">
        <!-- <button class="previousButton none" type="button">Previous</button> -->
        <!-- <button class="nextButton" type="button">Next</button> -->
        <button class="submitButton" type="submit">Submit</button>
      </div>
    </form>
  </section>
  <section class="formResults none">
    <h2>Thank you for voting!</h2>
    <article class="bothChosen none">
      <h3>Photos you've both chosen</h3>
      <div class="resultsGallery">
      </div>
      <a class="anotherRound" href="https://real-time-web-21.herokuapp.com/" >Go for another voting session</a>
    </article>
    <article class="otherChosen none">
      <h3>Photos that already made the vote..</h3>
      <p>Wait until both users have voted to see results</p>
      <div class="selfChosenGallery">
      </div>
    </article>
  
  </section>
</main>
<footer class="footer">
</footer>
<%- include('./partials/foot.ejs') %>